#component-block {
    background-color: rgba(145, 145, 145, 0.624);
    margin: 10vh 0 10vh 0;
    padding: 0 4vw 0 4vw;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-style: dashed;
    border-color: white;
    font-weight: bold;
    width: fit-content;
    color: white;
}

#input-block {
    display: flex;
    flex-direction: column;
    margin: 4vh 0 2vh 0;
    border-style: dashed;
    border-radius: 3%;
    border-color: white;
}

#result-block {
    display: flex;
    flex-direction: column;
    margin: 2vh 0 4vh 0;
    border-style: dashed;
    border-radius: 3%;
    border-color: white;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 2vw 2vh 2vw;
}

input {
    width: 25%;
}

label {
    font-size: x-large;
}

#result-block label {
    color: rgb(19, 142, 71);
    font-weight: bolder;
    font-size: xx-large;
    -webkit-text-stroke: 0.03vw  white;
}
