<form>
    <table>
        <tr>
            <td>
                <label>ПІБ</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td class="vertical">
                <label>Адреса</label>
                <label>Місто</label>
            </td>
            <td class="vertical">
                <input type="text">
                <input type="text">
            </td>
        </tr>
        <tr>
            <td class="vertical">
                <label>Індекс</label>
                <label>Телефон</label>
            </td>
            <td class="vertical">
                <input type="text">
                <input type="tel">
            </td>
        </tr>
        <tr>
            <td>
                <label>Додаткова інформація</label>
            </td>
            <td>
                <input type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label>e-mail</label>
            </td>
            <td>
                <input type="email">
            </td>
        </tr>
        <tr>
            <td class="vertical">
                <label>Пароль</label>
                <label>Повторення паролю</label>
            </td>
            <td class="vertical">
                <input type="password">
                <input type="password">
            </td>
        </tr>
        <tr>
            <td>
                <label></label>
            </td>
            <td>
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
            </td>
        </tr>
    </table>
</form>
